<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <% if (Object.keys(urls).length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
          </tr>
        </thead>
        <tbody>
          <% for (let id in urls) { %>
            <tr>
              <td><%= id %></td>
              <td><%= urls[id] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
      <p>No URLs found.</p>
    <% } %>
  
    <h3>Shorten a New URL</h3>
    <p><a href="#">Shorten URL</a></p>
  </main>
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abt
